---
const { title, text, img } = Astro.props;
---

<div class="grid grid-cols-2 top-50 p-10 gap-6">
  <div class="sticky top-50 h-50">
    <h1 class="text-9xl font-heading">{title}</h1>

    <p>
      {text}
    </p>
  </div>

  <div class="grid gap-6">
    <img src={img} alt="" />
    <img src={img} alt="" />
    <img src={img} alt="" />
    <img src={img} alt="" />
    <img src={img} alt="" />
    <img src={img} alt="" />
    <img src={img} alt="" />
    <img src={img} alt="" />
  </div>
</div>
