---
const { title, dato, info, text, img, img2, img3, img4, img5, img6, img7 } =
  Astro.props;
---

<div class="grid grid-cols-2 p-10 gap-6">
  <div class="sticky top-10 p-6 h-150 w-full">
    <a href="/casesv4"><p>Back</p></a>
    <div class="font-heading text-[14rem] font-extrabold uppercase blur-xs">
      {title}
    </div>

    <p class="text-center font-script -mt-20 text-6xl">{dato}</p>
    <p class="text-center mt-20 font-text text-2xl font-extrabold">{info}</p>
    <p class="text-center mt-5">{text}</p>
    <div class="grid grid-cols-2 mt-30">
      <p class="text-xl uppercase font-extrabold">Previous</p>
      <p class="text-right text-xl uppercase font-extrabold">Next</p>
    </div>
  </div>

  <div class="grid gap-4">
    <img src={img} />
    <img src={img2} />
    <img src={img3} />
    <img src={img4} />
    <img src={img5} />
    <img src={img6} />
    <img src={img7} />
  </div>
</div>
