---
const { title, text, img,img2,img3,img4,img5 } = Astro.props;
---

<div class="grid grid-cols-2 top-50 p-16 gap-6">
  <div class="sticky top-70 h-50">

    <h1 class="text-9xl uppercase font-heading">{title}</h1>

    <p class="pt-12 text-xl/loose">
      {text}
    </p>
    <button class="pt-24">next project</button>
  </div>

  <div class="grid pt-24 gap-6">
    <img src={img} alt="" />
    <img src={img2} alt="" />
    <img src={img3} alt="" />
    <img src={img4} alt="" />
    <img src={img5} alt="" />
  </div>
</div>
