---
const { title, text, img, img2, img3, img4, img5 ,img6,img7} = Astro.props;
---

<div class="p-4 pt-36 lg:p-16 lg:grid lg:grid-cols-2 lg:gap-6">
  <div
    class="sticky lg:p-40 lg:top-40 lg:h-200 w-full bg-[url(/images/pap1.png)]">
    <div class="grid grid-cols-2">
      <button class="pt-6 text-left lg:pt-24">previous project</button>
      <button class="pt-6 text-right lg:pt-24">next project</button>
    </div>
    <h1 class="text-6xl uppercase font-extrabold text-center lg:text-7xl">
      {title}
    </h1>

    <p class="pt-6 text-md text-center lg:pt-12">
      {text}
    </p>
  </div>
  <div class="grid gap-4 lg:gap-6 pt-6 lg:pt-24">
    <img src={img} />
    <img src={img2} />
    <img src={img3} />
    <img src={img4} />
    <img src={img5} />
    <img src={img6} />
    <img src={img7} />
  </div>
</div>
