---
const { title, text, img, img2, img3, img4, img5 } = Astro.props;
---

<div class="grid grid-cols-2 p-16 gap-6">
  <div class="sticky top-50 h-50">
    <h1 class="text-[12rem] uppercase blur-xs font-extrabold">{title}</h1>

    <p class="pt-12 text-xl/loose">
      {text}
    </p>
    <button class="pt-24">next project</button>
  </div>

  <div class="grid pt-24 gap-6">
    <img src={img} />
    <img src={img2} />
    <img src={img3} />
    <img src={img4} />
    <img src={img5} />
  </div>
</div>
